.heading1 {
    margin-top: 50px;
    font-size: 90px;
}

h1 {
    text-align: center;
    font-size: 90px;
}

p {
    text-align: center;
    font-size: 30px;
}

.playbtn {
    margin-top: 50px;
    text-align: center;
}

.mockup {
    text-align: center;
}

.gradient-three-shades {
    background: linear-gradient(to right, #18ADE4 0%, #110915 25%, #EF8F2D 50%, #110915 75%, #AA58AA 100%);
}
