.para {
    text-align: left;
    color: #979797;
}

.hd {
    text-align: left;
}

.images {
    justify-content: center;
}

.hd2 {
    text-align: left;
    margin-left: 45%;
    font-size: 60px;
}